@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  position: fixed;
  background-color: transparent;
  width: 100vw;
}

.nav-container {
  margin: 0 5%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-end-custom {
  display: flex;
  align-items: center;
}

.navbar-item-custom {
  padding: 15px 60px;
  font-weight: 600;
}

.navbar-item-custom:hover {
  color: white;
}

.logo {
  font-size: 2em;
  color: black;
}

.navbar-item {
  color: white;
}

.title {
  font-size: 4em;
  font-weight: 700;
}

.tagline {
  margin-top: 50px !important;
}

.left-scene {
  background-color: white;
  height: 100vh;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.right-scene {
  position: relative;
  background-image: url('./images/nightsky.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 65%;
}

.title-container {
  z-index: 1;
  width: 60%;
  text-align: justify;
}

.btn-main {
  font-size: 2em;
  font-weight: 500;
  color: black;
  padding: 5px 15px;
  border: 2px solid black;
  border-radius: 50px;
}

#rocket {
  position: absolute;
  bottom: 0px;
  left: -300px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  transform: rotate(5deg);
}



